.container
	.row
		.page-header.clearfix
			h1= title
			small 购出好心情
.navbar.navbar-default.navbar-fixed-bottom
	.container
		.navbar-header
			a.navbar-brand(href="/") 进入首页
		p.navbar-text.navbar-right
			a.navbar-link(href="/showRegister", data-toggle="modal") 注册
			span &nbsp;|&nbsp;
			a.navbar-link(href="/showLogin", data-toggle="modal") 登录

